
//colores
$negro: black;
$azul: blue;
$naranja: orange;
$morado: violet;
$rojo: red;
$gris: gray;
$amarillo: yellow;
$verde: green;

//color de botones
$color-primary: #0073ff;
$color-success: #00cc66;
$color-danger: #ff3333;
$color-warning:orange;















