//mixins imagenes galerias 

@mixin gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @mixin gallery-item($number) {
    .item#{$number} {
      // Estilos de cada imagen
      width: 100%;
      padding-bottom: 100%; // Para mantener el aspecto ratio de la imagen
      background-image: url('imagen#{$number}.jpg');
      background-size: cover;
      // Otros estilos...
    }
  }
  
  .gallery {
    @include gallery;
  }
  
  @include gallery-item(1);
  @include gallery-item(2);
  @include gallery-item(3);
  @include gallery-item(4);
  
  @media screen and (min-width: 768px) {
    .gallery-item {
      width: calc(50% - 10px);
      padding-bottom: calc(50% - 10px);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .gallery-item {
      width: calc(33.33% - 10px);
      padding-bottom: calc(33.33% - 10px);
    }
  }
  
