//colores
$negro: black;
$azul: blue;
$naranja: orange;
$morado: violet;
$rojo: red;
$gris: gray;

//fuentes - tipografia
$fuente-principal: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
$fuente-titulos: underline;

//tamanios de fuentes
$tamanio-fuente: 16px;
$tamanio-fuente-titulos:20px;
$tamanio-subtitulos:18px

