
@import"tipografias";
@import"medidastextos";
@import"colores";
@import"dimensiones";

body{
    font-family: $fuente-principal;
    font-size: $tamanio-fuente;
}

@mixin customize-card-button($background-color, $border-color) {
    background-color: $background-color;
    border-color: $border-color;
    &:hover {
      background-color: darken($background-color, 10%);
      border-color: darken($border-color, 10%);
    }
  }

  @mixin customize-card-button-text($color) {
    color: $color;
    &:hover {
      color: darken($color, 10%);
    }
  }
  

.card {
    .btn-primary {
      @include customize-card-button($color-primary, $color-primary);
      @include customize-card-button-text(white);
    }
  
    .btn-success {
      @include customize-card-button($color-success, $color-success);
      @include customize-card-button-text(white);
    }
  
    .btn-danger {
      @include customize-card-button($color-danger, $color-danger);
      @include customize-card-button-text(black);
    }
  }
  

footer{
    background:$naranja;
}

h1{
    font-family: $fuente-principal;
    color: $negro;
    font-style: $fuente-estilo;   
}

.card:hover{
    opacity: 0.9;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 20%;
}

.row{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}



