
@import"tipografias";
@import"medidastextos";
@import"colores";
@import"dimensiones";

body{
    font-family: $fuente-principal;
    font-size: $tamanio-fuente;
}

@mixin customize-card-button($background-color, $border-color) {
    background-color: $background-color;
    border-color: $border-color;
    &:hover {
      background-color: darken($background-color, 10%);
      border-color: darken($border-color, 10%);
    }
  }

  @mixin customize-card-button-text($color) {
    color: $color;
    &:hover {
      color: darken($color, 10%);
    }
  }
  

.card {
    .btn-primary {
      @include customize-card-button($color-primary, $color-primary);
      @include customize-card-button-text(white);
    }
  
    .btn-success {
      @include customize-card-button($color-success, $color-success);
      @include customize-card-button-text(white);
    }
  
    .btn-danger {
      @include customize-card-button($color-danger, $color-danger);
      @include customize-card-button-text(black);
    }
  }
  

h1{
    font-family: $fuente-principal;
    color: $negro;
    font-style: $fuente-estilo;   
}

.card:hover{
    opacity: 0.9;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 20%;
}

.row{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

//footer

$link-light-grey: #6c757d;
$primary-orange: #fec503; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

.col-md-4:nth-child(even) {
  // background: blue;
}
.col-md-4:nth-child(odd) {
  // background: red;
}

a {
  color:gray;
}

a.nav-link{
  color: #6c757d;
}

a.nav-link:hover{
  color:$naranja;
  text-decoration: none;
}

::selection {
  background:$naranja;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: #212529;
  // .container .row:not(:last-child) {
  //   padding-bottom: 2rem;
  // }
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
  }

.footer-column {
  text-align: center;
  //border: red solid 1px;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
    span.nav-link {
      color: $link-light-grey;
    }
    span.footer-title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
    //border: yellow solid 1px;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color:$naranja;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: $footer-background-grey;
}

footer.quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

ul.list-inline-item:hover{
  color:$naranja;
  text-decoration: none;
}

.navbar-brand:hover{
  color:$naranja;
  text-decoration: none;
}

.ul li.dropdown-menu:hover{
  color:$naranja;
  text-decoration: none;
}







